<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{Mfg}} | Meat | Cheese | Distributor | New Jersey | New York | Wholesale</title>
		<meta name="description" content="{{CompanyName}} - {{Mfg}} distributor serving all of New Jersey">
		<meta name="keywords" content="Thumann's,thumanns,meat,cheese,distributor,New Jersey,nj,nyc,turkey,ham,chicken,roast beef">

		{{>Head}}
		{{{custom_head}}}<!-- custom head -->
	</head>
	<body>

	<!-- NAVBAR -->
	{{>Navigation}}
	<!-- CONTENT -->
	{{{content}}}
	<!-- FOOT -->
	{{>Foot}}
{{host}}

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="assets/bootstrap/docs/assets/js/holder.js"></script>
	</body>
</html>
