		<!-- Carousel	================================================== -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
				<li data-target="#myCarousel" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="assets/images/thumanns-turkey-sandwich.jpg" alt="{{Mfg}} Sandwich">
					<div class="container">
						<div class="carousel-caption">
							<h2>{{Mfg}} Sandwich</h2>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="assets/images/thumanns-platter.jpg" alt="{{Mfg}} Platter">
					<div class="container">
						<div class="carousel-caption">
							<h2>{{Mfg}} Platter</h2>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="assets/images/thumanns-pastrami.jpg" alt="{{Mfg}} Pastrami">
					<div class="container">
						<div class="carousel-caption">
							<h2>{{Mfg}} Pastrami</h2>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="assets/images/thumanns-wrap-platter.jpg" alt="{{Mfg}} Wraps">
					<div class="container">
						<div class="carousel-caption">
							<h2>{{Mfg}} Wraps</h2>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="assets/images/thumanns-hot-dogs.jpg" alt="{{Mfg}} Hot Dogs">
					<div class="container">
						<div class="carousel-caption">
							<h2>{{Mfg}} Hot Dogs</h2>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div><!-- /.carousel -->
